<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446026256254-14mla9j3213h5li00t1vmtaiviqq48t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446026256254-14mla9j3213h5li00t1vmtaiviqq48t9</string>
	<key>API_KEY</key>
	<string>AIzaSyClI1kOIdd5jfR4PDf4CWd6wbKO65o6FHA</string>
	<key>GCM_SENDER_ID</key>
	<string>446026256254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>graduation-project.Car-maintenance</string>
	<key>PROJECT_ID</key>
	<string>car-maintenance-89178</string>
	<key>STORAGE_BUCKET</key>
	<string>car-maintenance-89178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446026256254:ios:2aba14578b74e108e9ad2f</string>
</dict>
</plist>